.ovc-synced-status {
	display:inline-block;
}

.ovc-synced-status::before {
	content:'';
	display:inline-block;
	line-height:32px;
	vertical-align: middle;
	margin-right:3px;
	box-sizing:border-box;
	height:8px;
	width:8px;
	border-radius:4px;
	background-color:#41f45f;
	position: relative;
    top: -2px;
}

.ovc-synced-status.ovc-auto-sync-disabled::before {
	background-color:#e00f0f;
}

