
@import 'vendor/onyx_init';

@import 'vendor/font-awesome.min.css';

@import 'foundation/ovc_layout';

@import 'components/variables';
@import 'components/ovc_admin';
@import 'components/oxmenu';
@import 'components/ovc_image_manager';
@import 'components/ovcdt';
@import 'components/ovcop';
@import 'components/oxmd';
@import 'components/ovc_screen';
// @import 'components/ovc_screen-inventory_assembly';
$dqc-blue-darker: #4296e2;
$dqc-blue-lighter: #e2f1ff;

$dqc-green:#229637;
$dqc-green-lighter:#d1f5db;

$dqc-yellow:#71730c;
$dqc-yellow-lighter:#e9eaa1;
$yellow-bright:#f8f9be;


$grey-light:#EAEAEA;
$grey-dark: #BBB;
$grey-text:#111111;

$purple-text:#8141e1;
$purple-dark:#aa7feb;
$purple-light:#ebe0fa;

$deep-blue-dark:#358fde;

/* OVC ASSEMBLY */
#ovcia-assemblies {
	@include d-fb;
	@include flex-direction(row);
	@include flex-wrap(nowrap);
	@include align-items(flex-start);
	@include justify-content(flex-start);
	@include align-content(flex-start);
	// background:#FFFFFF;
	padding:10px;
}
#ovcia-sku-dock {
	@include d-fb;
	@include flex-direction(column);
	@include flex-wrap(wrap);
	@include align-items(flex-start);
	@include justify-content(flex-start);
	@include align-content(flex-start);
	width:auto;
	min-width:100%;
	max-height:300px;
	min-height:290px;
	padding:10px;
	background-color:transparent;


}

.ovcia-scroll-wrap {
	min-width:100%;
	overflow-x:scroll;
	background-color: #F5F5F5;
	@include prefix(box-shadow, inset 0px 0px 6px rgba(0,0,0,0.1) );

	&::-webkit-scrollbar {
		width:12px;
	}

	&::-webkit-scrollbar-track {
		background-color:#EFEFEF;
	}

	&::-webkit-scrollbar-thumb {
		background-color:#CCC;
		border-radius:6px;
	}
}

.ovcia-fb-spacer {
	@include prefix(flex-grow, 1);
}
.ovcia-sku-wrapper {
	// @include d-ib;
	@include d-b;
	margin:2px;
	height:auto;
	width:auto;
	// min-width:240px;
	max-width:420px;

	&#ovcia-sku-template {
		display:none !important;
	}

	&.droppable-active {
		outline:2px solid $grey-dark;
	}

	&.droppable-hover {
		outline:2px solid $dqc-blue-darker;
	}
}
.ovcia-sku-block {
	@include d-fb;
	@include flex-wrap(nowrap);
	@include justify-content(flex-end);
	
	border:1px solid #BBB;
	padding:3px 4px;
	background-color:#EAEAEA;
	color:#111;
	white-space:nowrap;
	position:relative;
	height:auto;
	min-height:50px;
	
	// > * {
	// 	@include d-ib;
	// }
}
.ovcia-block-inner {
	white-space:nowrap;
	height:42px;

	// > div:not(.ovcia-block-inner) {
	// 	@include d-b;
	// 	// width:100%;
	// }
}
.ovcia-label--top {
	// @include d-ib;
	height:12px;

	line-height: 12px;
	font-size:10px;
	white-space: nowrap;

	&:first-child {
		margin-top:3px;
	}

	> * {
		// @include d-ib;
		height:12px;
		line-height:inherit;
		font-size:inherit;
	}
}
.ovcia-block-content {
	@include d-b;
	height:32px;
	line-height:32px;
}
.ovcia-label--top.ovcia-sku-data {
	margin-top:0;

	> div {
		@include d-ib;
		padding:0 0.2em;
	}

	.pr-is_raw {
		font-weight:bold;
	}

	.count-asm,
	.count-asmi {
		padding-right:0;
		i {
			position:relative;
			margin-right:2px;
			@include prefix( transform, rotate(180deg ));
		}

		span {
			// font-weight:bold;
		}
	}
	
	.count-asmi {
		i {
			top:1px;
		}
	}
}
.ovcia-sku-block[data-is-raw="0"] {
	.pr-is_raw {
		visibility: hidden;
		opacity:0;
		pointer-events: none;
	}
}
.ovcia-sku-block[data-is-case="0"] {

	.pr-is_case {
		visibility: hidden;
		opacity:0;
		pointer-events: none;
	}
}

// SKU BLOCK STATE AND COLORING BASED ON CASE/RAW/ATTACHED STATUS
.ovcia-sku-wrapper {

	// Not a case
	&:not([data-is-case="1"]) > .ovcia-sku-block {
		.pr-is_case {
			visibility: hidden;
			opacity:0;
			pointer-events: none;
		}
	}

	// Not Raw
	&:not([data-is-raw="1"]) > .ovcia-sku-block {
		.pr-is_raw {
			visibility: hidden;
			opacity:0;
			pointer-events: none;
		}
	}

	// COLORS
	// Default (attached but not a case)
	> .ovcia-sku-block {
		background-color:$dqc-blue-lighter;
		border-color:$dqc-blue-darker;
		color:$dqc-blue-darker;
	}

	// Case
	&[data-is-case="1"] {

		> .ovcia-sku-block {
			color:$deep-blue-dark;
			border-color:$deep-blue-dark;	
			background-color:#b3daff;
		}

		// True Case
		&[data-size="CS"] > .ovcia-sku-block {
			color:$purple-text;
			border-color:$purple-dark;
			background-color:$purple-light;
		}
	}

	// Unattached
	&[data-count-asm="0"][data-count-asmi="0"] {
		background-color:$grey-light;
		color:$grey-text;
		border-color:$grey-dark;
	}
}
.ovcia-label {
	font-size:8px;
	text-transform: uppercase;
	line-height:8px;
}
.ovcia-assembly-labels {
	text-align:left;
}
.ovcia-label--assembly-potential-qty {
	margin-top:6px
}
.ovcia-stat-wrap {
	margin-left:5px;

	.ovcia-label--top {
		
		// padding:2px 3px 0;
		text-align: center;
	}

	.ovcia-block-content {
		font-size:14px;
		
	}
}

// Stock amounts
.ovcia-stock-wrap {
	text-align:right;
	// /float:right;
}
.ovcia-sku-block__hover-info {
	@include d-b;
	position:absolute;
	top:100%;
	left:0;
	display:none;
	background:#FFFFFF;
	border:1px solid #BBB;
	z-index:100;

	.hover-data-field-wrap {
		@include d-b;
		white-space: nowrap;

		label {
			width:80px;
		}

		label,
		span {
			@include d-ib;
		}
	}
}
.show-info:hover {
	cursor:help;

	.ovcia-sku-block__hover-info {
		display:block;	
	}
}
.ovcia-block--assembly-item {
	@include d-b;
	position:absolute;
	height:100%;
	@include pbm-0;
	background:transparent;
	top:0;
	left:-50px;
	width:48px;
	display:none;
}
.ovcia-assembly-head {
	@include  d-fb;
	white-space:nowrap;
	@include flex-wrap(nowrap);
	@include justify-content(flex-end);
	padding:2px 4px;
	padding-left:50px;
	position:relative;

	> .ovcia-block--assembly-item {
		display:block;
		left:0;
	}
}

// SKU Block contexts (SKU Primary, Assembly, Assembly Item)
.ovcia-sku-wrapper {

	.ovcia-sku-wrapper {
		@include d-b;
		margin:0;
	}
}
.ovcia-assembly-wrap {
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	display:none;
	width:100%;
	border:1px solid #d4d4d4;
	margin-top:-1px;
	background-color:#efeaea;
}
.ovcia-sku-primary {
	width:270px;
	max-width:270px
}
.ovcia-sku-assembly {

	> .ovcia-assembly-wrap {
		display:block;

		> .ovcia-assembly-items-wrap {
			padding-left:50px;
			position:relative;
			right:-1px;
			bottom:-1px;

			> .ovcia-sku-wrapper:not(:first-child) {
				margin-top:-1px;
			}
		}
	}
}
.ovcia-sku-assembly-item {
	> .ovcia-sku-block {

		.ovcia-block--assembly-item {
			@include d-b;
			padding:3px 2px;
		}
	}
}
.ovcia-label--assembly-item-qty {
	font-size:10px;
}

.ovcia-input {
	-webkit-appearance:none;
	margin:0;
	padding:0;
	background-color:#f5f5f5 !important;
	box-shadow:none !important;
	border:none !important;
	max-width:100%;

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance:none;
		margin:0;
	}

	&.ovcia-input--asmi__quantity,
	&.ovcia-input--asm__total_quantity {
		font-size:20px;
		text-align:center;
	}

	&.ovcia-input--asm__total_quantity {
		font-weight:bold;
	}
}

/* DYNAMIC FIELDS */
.ovc-screen-field-wrap[data-ovc-field="additional_sizing_guides"] {
	margin-bottom: 1em;
	display:block;
}

.ovc-dynamic-field-wrap {

	#ovc-dynamic-field-row-template {
		display: none !important;
	}

	.ovc-dynamic-field-title {
		text-align: center;
		margin: 0.5em;
	}

	.ovc-dynamic-field-label,
	.ovc-dynamic-field-value {
		margin-left:4px !important;
	}

	.ovc-dynamic-field-label {
		display: table-cell;
		width:200px;
		font-weight: 600;
		// line-height: 28px;
	}

	.ovc-dynamic-field-action {
		font-size: 20px;
		line-height: 28px;
		opacity:0.4;
		cursor:pointer;
		@include prefix(transition, all 0.2s ease);

		&:hover {
			opacity:1;
		}

		&.ovc-dynamic-field-action--delete {
			color: red;
		}

		&.ovc-dynamic-field-action--add {
			color: green;
		}
	}

	.ovc-dynamic-field-label.ovc-dynamic-field-header {
		
		width:100%;
	}

	.ovc-dynamic-field-row {
		@include d-fb;

		&.ovc-dynamic-field-row-deleted input {
			text-decoration: line-through;
		}
	}

	.ovc-dynamic-field-row--new {

		input {

			border: dashed 1px #DDDDDD;
			background: #D0D0D0 !important;
			border-radius: 3px;
		}
	}
}


// OVCIA cards and filters
.ovcia-card {
	background:#FFFFFF;
	@include p-0;
	@include b-0;


	.ovcia-card-header,
	.ovcia-card-body {
		padding:5px;
	}

	.ovcia-card-body {

	}

	.ovcia-card-title {
		font-size:16px;
		line-height:normal;
		margin:0;
		margin-top:4px;
	}
}

.ovcia-card-filter-bar {
	@include d-b;
	width:100%;
}



.ovcia-filter-button {
	@include d-b;
	@include pbm-0;
	width:auto;

	& + .ovcia-filter-button {
		.ovcia-filter-label {
			border-left:1px solid #BBB;
		}
	}

	

	.ovcia-filter-label {
		@include d-fb;
		
		@include align-items(center);
		height:30px;
		background:#d5d5d5;
		// border:1px solid #AAA;
		padding:3px 8px;

		> div {
			@include d-b;
			pointer-events: none;
		}
	}

	input[type="text"] {
		height:30px;
		background-color:#F0f0f0;
	}

	.ovcia-filter-label-icon {
		font-size:14px;

		& + .ovcia-filter-label-text {
			margin-left:0.35em;
		}
	}

	.ovcia-filter-label-text {
		font-size:12px;
		@include flex(1 0 auto);

	}


	input[type="checkbox"],
	input[type="radio"] {
		display:none;

		&:checked ~ .ovcia-filter-label {
			background:#c5c5c5;
			outline:2px solid #AAA;
			outline-offset:-2px;
		}
	}

	&.ovcia-filter-button--radio {

		.ovcia-filter-label {
			min-width:36px;
			text-align:center;
		}
		.ovcia-filter-label-text {
			text-align: center;
			white-space:nowrap;
		}
	}
}



.ovcia-filter-group {
	@include d-ib;
	
	@include p-0;
	margin-right:1em;
	vertical-align:middle;

	.ovcia-filter-group-label {
		@include d-b;
		font-size:10px;
		line-height:10px;
		height:24px;

		i {
			font-size: 1.5em;
			float: left;
			margin-right: 3px;
			line-height: 1.1em;
		}
	}

	
}

.ovcia-filter-button-group {
	@include d-fb;
	word-spacing: 0;
	

	&.buttons--equal-width {
		.ovcia-filter-button {
			@include flex(1 1 40px);
		}
	}
}

.rotate--180 {
	@include prefix( transform, rotate(180deg ));
}