.op-step {
	display:inline-block;
	position:relative;
	padding:0;
	margin-right:5px;
	min-width:200px;
	transition:all 1s ease;

	.op-step-content {
		width:100%;

		font-size:16px;
		line-height:32px;
		padding:0 20px;		
	}

	&:before, &:after {
		display:block;
		content:" ";
		position:absolute;
		width:100%;
		height:50%;
		left:0;
		background:#CCC;
		z-index:-1;
		transition:all 1s ease;
	}

	&:before {
		top:0;
		transform:skewX( 30deg );
	}

	&:after {
		bottom:0;
		transform:skewX( -30deg );
	}

	&.in-progress {

		&:before, &:after {
			background:#D7B221;
		}
	}

	&.complete {
		color:#FFF;
		
		&:before, &:after {
			background:#0073aa;
		}
	}

}

.ovcop-block {
	display:block;
	position:relative;
	transition:all 0.3s ease;
	
	.ovcop-block-inner {
		transition:all 0.3s ease;
	}

	&:before {
		display:block;
		position:absolute;
		content:'';
		width:100%;
		height:100%;
		background-image:url(../img/ajax-loader.gif);
		background-repeat:no-repeat;
		background-position:center center;
		background-size:20px 20px;
		opacity:0;
		transition:all 0.3s ease;
		pointer-events:none;
		z-index:2;
	}

	&.loading-locked {
		pointer-events:none;

		&:before {
			opacity:1;
		}

		.ovcop-block-inner {
			pointer-events:none;
			opacity:0.5;
		}
	}

	&.reloading-content {
		&:before, .ovcop-block-inner {
			opacity:0;
		}
	}
}

#ovcop-block-html-wrap {
	margin:20px 0 30px;
	border:1px solid #CCCCCC;
	border-width:1px 0px;
}

.ovcop-field-group {
	margin:6px 0;
}
.ovcop-file-path {
	width:600px;
}

#ovcop-log {
	background: #FFF;
   	border: 1px solid #aaa;
    padding: 4px;
    width: 95%;
    max-width: 2000px;
    font-size: 80%;
    line-height: 140%;
    white-space: pre;
    max-height:800px;
    overflow:scroll;
}

.ajax-loader-bg {
	background-image:url(../img/ajax-loader.gif);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:contain;
}

#ovcop-type-select {
	margin:6px 0;
	background-color:#FFFFFF;
	text-align:left;
	border-collapse:collapse;
	pointer-events:auto;

	thead tr {
		background-color:#DDDDFF;
		font-weight:bold;
		padding:3px 5px;
	}

	tr {
		cursor:pointer;

		&:nth-of-type(2n) {
			background-color:#F0F0F0;
		}

		&:hover {
			transition:background-color 0.1s ease;
			background-color:#C5DDF5;
		}
	}

	td {
		padding:3px 5px;
		border:1px solid #DDD;
	}

}
