/* ONYX Design - OVC Image Manager OXMD styles */

// OXMD OVC Image Manager Image Set Table

$ovcim-transition: all 0.3s ease;

.ovc-img-table-outer-wrap {
	max-width:100%;
	overflow-x:scroll;
}

.ovc-img-set-table,
.ovc-colors-skus-table {
	table-layout:fixed;
	background-color:#FFF;
	border-collapse:collapse;

	td {
		border:1px solid #BBB;
		padding:3px;
		min-width:80px;
		vertical-align:middle;
		

		&.img-set-col {
			width:125px;
			min-width:125px;
			max-width:125px;
			text-align:center;

			&.img-set-skus-droppable,
			&.img-set-colors-droppable {
				vertical-align: top;
			}
			
			&.img-set-col-new {
				border:1px dashed #BBB;
			}
		}

		&.not-applicable {
			background-color:#DADADA;

			text-align:center;

			&:before {
				white-space: pre;
				content: 'N/A';
			}
		}
	}

	tr.img-set-img_gallery_ids-row td {
		vertical-align: top;
	}

	.img-set-colors-droppable,
	.img-set-skus-droppable {
		position:relative;

		&.droppable-active {
			background-color:#a9d6ff !important;
		}

		&.droppable-hover:before {
			content:'';
			@include fill-parent-abs;
			border:2px solid #4296e2;
		}
	}
}

.ovc-colors-skus-table {
	width:100%;
	max-width:100%;
	

	tr {
		width:100%;
		max-width:100%;

		&.img-set-all-colors-row td {
			white-space:nowrap;
			padding-bottom:10px;
		} 
	}

	td {
		text-align: left;
		text-overflow: clip;
		overflow-x: auto;

		&.img-set-colors-legend {
			width:145px;
			max-width:145px;
		}

		&#unset-skus {
			padding-bottom:10px;
			
		}

		> .unset-skus-wrap {
			height: 52px;
		    width: auto;
		    
		    overflow-wrap: break-word;
		    white-space: normal;
		    @include prefix(writing-mode,vertical-lr);
		}
	}

}


.ovc-img-wrap,
.ovcim-gallery-select {
	@include d-ib;
	position:relative;
	height:80px;
	width:80px;
	padding:0;
	margin:0;

	background-size:cover;
	background-clip:content-box;

	border:2px solid transparent;

	&.droppable-active {
		background-color:#a9d6ff !important;
		border:2px solid #a9d6ff;
	}

	&.droppable-hover {
		border:2px solid #4296e2;
	}

	// Remove image button
	.remove-image {
		
		position:absolute;
		top:0;
		right:0;
		color:#DD0000;
		display:none;
		font-size:18px;
		line-height:22px;
		height:22px;
		width:22px;
		text-align: center;
		cursor:pointer;
		transition: $ovcim-transition;

	}

	&:hover {
		border:2px solid #666;
		//cursor:pointer;
	}

	&:not([data-image-id="0"]):hover .remove-image {
		display:block;
		
		&:hover {
			background-color:#DD0000;
			color:#FFFFFF;	
		}
	}
}

// Gallery Select and regular Image select with no image selected styling

.ovcim-gallery-select,
.ovc-img-wrap[data-image-id="0"] {
	background-color:#CCC;

	&:before {
		display:block;
		text-align:center;
		white-space:pre;
		width:100%;
		content:'Select\AImage';
		color:#666;
		padding-top:18px;
		font-weight:bold;
	}


}
.ovc-img-wrap[data-image-id="0"]:before {content:'Select\AImage';}
.ovcim-gallery-select:before {padding-top:2px;font-size:12px;line-height:normal;content:'Select\AGallery\AImages';}
.ovcim-gallery-select.droppable-active:before {content:'Add\Ato\AGallery';}

tr.img-set-img_gallery_ids-row {

	.ovc-img-wrap,
	.ovcim-gallery-select {
		float:left;
		height:58px;
		width:58px;

		// No-image selected styling
		&[data-image-id="0"]:before {
			padding-top:2px;
			font-size:10px;
			line-height:10px;
		}
	}
}

$dqc-blue-darker: #4296e2;
$dqc-blue-lighter: #e2f1ff;

$dqc-green:#229637;
$dqc-green-lighter:#d1f5db;

$dqc-yellow:#71730c;
$dqc-yellow-lighter:#e9eaa1;


.ovc-draggable-color,
.ovc-draggable-sku {
	@include d-ib;
	margin:2px;
	border:1px solid #BBB;
	padding:1px;
	background-color:#EAEAEA;
	color:#111;
	font-size:10px;
	writing-mode: horizontal-tb;
	overflow:hidden;

	&:not(.color-legend):hover {
		cursor:-webkit-grab;
	}

	&::selection,
	*::selection {
		display:none;
	}

	&::-moz-selection,
	*::-moz-selection {
		display:none;
	}
}

.ovc-draggable-sku {
	width:120px;
	max-width:120px;
	white-space:nowrap;
	text-overflow:clip;
}

.ovc-draggable-color {
	//@extend %d-b;
	position:relative;
	
	width:140px;
	max-width:140px;

	.short-color {
		padding-right:40px;
		text-align:left;
		white-space:nowrap;
		text-overflow:clip;
	}

	.long-color {
		width:100%;
		text-align:left;
		white-space:nowrap;
		text-overflow:clip;

		&:empty:before {
			content:"\A0";
		}
	}

	.color-sku-stats {
		position:absolute;
		text-align:right;
		top:1px;
		right:2px;
		font-weight:bold;
	}

	// Color coding based on 'data quality' (# skus assigned / total skus & #img sets)
	&.skus-assigned-some {
		border:1px solid $dqc-yellow;
		color:$dqc-yellow;
		background-color:$dqc-yellow-lighter;	
	}

	&.skus-assigned-all {
		border:1px solid $dqc-green;
		color:$dqc-green;
		background-color:$dqc-green-lighter;	

		&.img-set-count-1 {
			border:1px solid $dqc-blue-darker;
			color:$dqc-blue-darker;
			background-color:$dqc-blue-lighter;	
		}
		
	}
}

.ovc-img-set-table .ovc-draggable-color {
	width:120px;
	max-width:120px;
}

