/* Styles for OVC Data Tables (OVCDT) and OVCDT pages */

// VARIABLES

// 

$vida_pink 	: #F03E47;

// Custom Selection Elements
$cs_purple_main 	: #CB5CE6;
$cs_purple_light	: #F0CCF9;


// WP Page Style Modifications
#wpbody-content {
	min-width:100%;
}

// OVCDT Main Table Styles

.ox-row.ovcdt-tight-wrap,
.ovcdt-top-scrollbar {
	margin:0;
	

	&::-webkit-scrollbar {
		width:12px;
	}

	&::-webkit-scrollbar-track {
		background-color:#EFEFEF;
	}

	&::-webkit-scrollbar-thumb {
		background-color:#CCC;
		border-radius:6px;
	}
}

.ox-row.ovcdt-tight-wrap {
	overflow:scroll;
}

.ovcdt-top-scrollbar {
	overflow-x:scroll;
	overflow-y:hidden;
	display:none;
	width:100%;
	height:16px;
	

	.ovcdt--scrollable & {
		display:block;
	}

	.ovcdt-dummy-content {
		height:1px;
		visibility: hidden;
	}
}


//#ovcdt-main-table,
.ovcdt-table { // table
	will-change:scroll-position;
	background-color:#FFFFFF;
	text-align:left;
	border-collapse:collapse;
	pointer-events:auto;
	overflow:hidden;
	table-layout:fixed;

	&.read-only input.otdi:not(.otdi--filter) {
		pointer-events:none !important;
	}

	&.cs-mode-disabled {
		*[data-col="cs-toggle"] {
			display:none !important;
		}
	}

	&.show-in-use-imgs-disabled {

		.ovc-img-in-use {
			display:none !important;
		}
	}

	tbody {
		opacity:1.0;
		transition:all 0.3s ease;

		tr {
			opacity:1.0;
			
			// Default (Odd Rows)
			background-color:#FFFFFF;

			.otdi:focus:not([readonly]):not(.otdi--bool) { // .otdi:focus highlighting
				background-color:#FFFFFF;
			}

			// Default (Even Rows)
			&:nth-of-type(2n) {
				background-color:#F3F3F3;

				.otdi:focus:not([readonly]):not(.otdi--bool) { // .otdi:focus highlighting
					background-color:#F3F3F3;
				}
			}

			&:hover {
				transition:background-color 0.1s ease;
				background-color:#C5DDF5;
			}

			&.live-updated {
				border-color:#a54dff;
				background-color:rgba(165,77,255,0.6);
				transition:all 0s !important;
			}

			
		}
	}

	.ovcdt-headers {
		background-color:#DDDDFF;
	}

	td, th {
		white-space: nowrap;
		position:relative;
		overflow:visible;
		padding:0;
		font-size:13px;
		//line-height:normal;
		line-height: 18.2px;
	}

	td {
		border:1px solid #DDD;

		&.ovc_images-preview,
		&.ovc_images-3_4_preview,
		&.ovc_images-override_preview {
			height: 130px;
			padding: 0 5px;
			
			img {
				height: 100%;
				width: auto;
			}
		}

		&.ovc_unattached_img_post_ids-preview {

			text-align: center;

			img {
				max-height: 100px;
				width: auto;
			}
		}
	}

	th {
		text-indent:3px;
		padding-right:3px;

		&.sort {
			background-color:#6BC8EA;
			padding-right:21px;

			&:after {
				display:block;
				position:absolute;
				right:0;

				font-family:'FontAwesome';
				font-size: 120%;
				
				width: 15px;
				text-align: center;
				margin:0 3px;
			}

			&.sort-asc:after {
				content:"\f0de";
				top: 4px;
			}

			&.sort-desc:after {
				content:"\f0dd";
				top: -2px;
			}
		}

		&:hover {
			cursor:pointer;
			text-decoration:underline;
		}
	}

	// Instance / action specific styles
	td.actions {

		.ovcdt-action-link {
			text-decoration: none;
			color: #444444;
		}

		.oxmn-submenu {
			position:fixed;
			
			&.oxmn-force-hide,
			&.oxmn-fixed:not(.oxmn-fixed-positioned) {
				display:none !important;
			}

			&.oxmn-loading:before {
				content:'Loading Actions...';
				display:block;
			}

			.oxmn-li-ovcdt-actions {

				&.oxmn-disabled,
				&.oxmn-disabled * {
					cursor:pointer !important;
					color:#AAAAAA !important;
				}

				i {
					position:absolute;
					font-family: 'FontAwesome';
					color: #000;
					cursor:pointer;
					line-height: 21px;
					width: 21px;
					height: 21px;
					padding-top:1px;
					text-align: center;
					transition:all 0.2s ease;
					left:0;

					&.fa-amazon {
						color: #FF9900;
					}

					&.fa-times {
						color:#DD0000;

						&.disabled {
							color:#CCCCCC;
							pointer-events:none !important;
						}
					}

					&.fa-files-o {
						color:#CA8D09;

						&:hover {
							background-color:#CA8D09;
							color:#FFF;
						}
					}

					&.fa-picture-o {
						color:#FF751A;

						&:hover {
							background-color:#FF751A;
							color:#FFF;
						}
					}

					&.fa-refresh {
						color:#1ab1ff;

						&:hover {
							background-color:#1ab1ff;
							color:#FFF;
						}
					}

					&.fa-download {
						color:#CCCCCC;

						&.can-download {
							color:#1ab1ff;

							&:hover {
								background-color:#1ab1ff;
								color:#FFF;
							}

							a {
								@include fill-parent-abs;
								box-shadow:none !important;
								-webkit-box-shadown: none !important;
							}
						}
					}

					&.fa-warning {
						color:#CCCCCC;

						&.has-error {
							color:#DD0000;

							&:hover {
								background-color:#DD0000;
								color:#FFF;
							}
						}
					}

					&.fa-eye {
						color:#CCCCCC;

						&.can-view {
							color:#1B9009;

							&:hover {
								background-color:#1B9009;
								color:#FFF;
							}

							a {
								@include fill-parent-abs;
								box-shadow:none !important;
								-webkit-box-shadown: none !important;
							}
						}
					}

					&.fa-external-link {
						color:#CCCCCC;

						&.wc-exists {
							color:#666666;

							&.ovc-wc-enabled {
								color:#1B9009;
							}

							&:hover {
								background-color:#1B9009;
								color:#FFF;
							}

							a {
								@include fill-parent-abs;
								box-shadow:none !important;
								-webkit-box-shadown: none !important;
							}
						}
					}

					&.fa-pie-chart {
						color: #4B0082;
					}

					&.action-price_tool {
						color:#1B9009;
					}

					&.action-product_type_data {
						//color:#9C2A2A;
						color:#1ab1ff;
						
						&:hover {
							background-color:#1ab1ff;
							color:#FFF;
						}	
					}

					&.fa-share-alt-square {
						color: #3563AD;

						&:hover {
							background-color:#3563AD;
							color:#FFF;
						}
					}
				}

				&:hover {

					i {

						&.fa-times {
							color:#DD0000;

							&.disabled {
								color:#CCCCCC;
								pointer-events:none !important;
							}

							&:hover {
								background-color:#DD0000;
								color:#FFF;
							}
						}

						&.fa-files-o {
							color:#CA8D09;

							&:hover {
								background-color:#CA8D09;
								color:#FFF;
							}
						}

						&.fa-picture-o {
							color:#FF751A;

							&:hover {
								background-color:#FF751A;
								color:#FFF;
							}
						}

						&.fa-refresh {
							color:#1ab1ff;

							&:hover {
								background-color:#1ab1ff;
								color:#FFF;
							}
						}

						&.fa-download {
							color:#CCCCCC;

							&.can-download {
								color:#1ab1ff;

								&:hover {
									background-color:#1ab1ff;
									color:#FFF;
								}

								a {
									@include fill-parent-abs;
									box-shadow:none !important;
									-webkit-box-shadown: none !important;
								}
							}
						}

						&.fa-warning {
							color:#CCCCCC;

							&.has-error {
								color:#DD0000;

								&:hover {
									background-color:#DD0000;
									color:#FFF;
								}
							}
						}

						&.fa-eye {
							color:#CCCCCC;

							&.can-view {
								color:#1B9009;

								&:hover {
									background-color:#1B9009;
									color:#FFF;
								}

								a {
									@include fill-parent-abs;
									box-shadow:none !important;
									-webkit-box-shadown: none !important;
								}
							}
						}

						&.fa-external-link {
							color:#CCCCCC;

							&.wc-exists {
								color:#666666;

								&.ovc-wc-enabled {
									color:#1B9009;
								}

								&:hover {
									background-color:#1B9009;
									color:#FFF;
								}

								a {
									@include fill-parent-abs;
									box-shadow:none !important;
									-webkit-box-shadown: none !important;
								}
							}
						}

						/*
						&.action-price_tool {

							background-color:#1B9009;
							color:#FFF;
						}
						*/

						&.action-product_type_data {
							//color:#9C2A2A;
							color:#1ab1ff;
							
							&:hover {
								background-color:#1ab1ff;
								color:#FFF;
							}	
						}

						&.fa-share-alt-square {
							background-color:#3563AD;
							color:#FFF;
						}
					}
				}
			}
		}
	}

	.row-loader-icon {
		display:none;
		@include fill-parent-abs;
	}
}

// HEADER / FIELD WIDTH TYPES
.ovcdt-table .ovcdt-th {

	// FIELD WIDTH TYPES
	// Numeric Fields
	&.ovcdt-th--integer {
		min-width:70px !important;
	}
	&.ovcdt-th--numeric {
		min-width:90px !important;
	}

	&.ovcdt-th--datetime {
		min-width:160px !important;
	}
}

td.custom-select-toggle-id {
	width:24px;
	min-width:24px;
	max-width:24px;
	box-sizing:border-box;
}

// Field Group Row
#ovcdt-field-group {

	th:hover {
		cursor: default;
		text-decoration: none;
	}
}

#ovcdt-filters td {
	background:#FFF;
}

// .otdi shared styles
.ovcdt-table input.otdi {
	display:block;
	@include prefix(box-sizing,content-box);
	position:relative;

	height:100%;
	min-height:24px;

	@include fill-width;
	@include b-0;
	//@include m-0;

	// height:calc(100% + 2px);
	// min-height:24px;
	// width:calc(100% + 2px);
	// min-width:100%;

	margin:-1px;
	//margin-right:-2px;
	padding:0;
	padding-bottom:1px;
	padding-right:2px;

	@include transition(#{outline-color 0.3s ease, color 0.3s ease, background-color 0.3s ease});
	//padding:1px 5px;
	//border:2px solid;
	//border-color:transparent;
	text-indent:6px;

	//outline:none !important;
	@include prefix(box-shadow,none !important);

	background-color:transparent;
	background-clip:border-box;
	outline-offset:-2px;
	outline-width:2px;
	outline-style:solid;
	outline-color:transparent;

	z-index:1;

	cursor:cell;

	&:focus {
		z-index:5;
		outline-color: #5b9dd9;
		cursor:text;
		@include transition(#{outline-color 0.2s ease, color 0.2s ease, background-color 0.2s ease});
	}

	&.saving-cell {
		@include transition(#{outline-color 0.2s ease, color 0.2s ease, background-color 0.2s ease});
		@include prefix(animation, #{saving-cell 2s ease infinite});
		z-index:2;
		background-color:rgba(210,164,38,0.25) !important;
	}

	&.save-success {
		outline-color:#1d9c32;
		background-color:rgba(29,156,50,0.25);
		@include transition(all 0s);
	}

	&.save-fail {
		outline-color: #900;
		color: #900;
	}

	&[readonly] {
		background-color:rgba(200,200,200,0.6);
		color:#4c4c4c;

		&:focus {
			outline-color: #999;
			cursor:not-allowed;
		}
	}

	&[type="number"] {
		text-align:right;
	}

	&.live-updated {
		outline-color:#a54dff;
		background-color:rgba(165,77,255,0.25);
		@include transition(all 0s !important);
	}

	&:invalid {
		@include prefix(animation, #{invalid-cell 1s cubic-bezier(0.86, 0, 0.07, 1) infinite});
	}
}

// .otdi FILTERS
.ovcdt-table input.otdi.otdi--filter:not(.otdi--bool) {
	font-family:'FontAwesome', 'Open Sans', Helvetica, sans-serif;
	//background-color:#FFF;

	&:not([value=""]) {
		font-weight:bold;
	}
}

// .otdi BOOLEANS
.ovcdt-table input.otdi.otdi--bool {
	//position:absolute;
	//padding:0;

	cursor:pointer;
	top: 0;
	left: 0;

	text-align:center;
	-webkit-font-smoothing: antialiased;
	

	&:checked {

		&.ovcdt-cs-toggle {
			background-color: $cs_purple_light;

			&:before {
				color:$cs_purple_main;
			}
		}
		
		//background-clip: content-box;
		//border: 1px solid $cs_purple_light;

		&:before {
			display:block;
			position:relative;
			
			font-family:'FontAwesome';
			content:"\f00c";
			
			line-height:25px;
			width: calc(100% + 2px);
			height: calc(100% + 2px);

			font-size: 16px;
			//line-height: calc( 100% + 4px);
			padding: 0;
			text-indent: 0;
			top: 1px;
			left: 3px;
		}
	}

	&:focus {
		cursor:pointer;
		background-clip: border-box;

		&.ovcdt-cs-toggle {
			border: 2px solid $cs_purple_main;
		}
	}

	&[readonly] {
		color:#666;
		pointer-events:none !important;
		cursor:not-allowed !important;

		&:before {
			color:#4c4c4c;
		}
	}
}

// Custom Selection Boolean Cell Overrides
td.custom-select-toggle-id,
td[data-col="cs-toggle"],
th[data-col="cs-toggle"] {
	width:24px;
	min-width:24px;
	max-width:24px;
	box-sizing:border-box;
}

input.ovcdt-cs-toggle {
	//cursor:pointer;
	

	&:checked {
		//background-color: $cs_purple_light;
		//background-clip: content-box;
		//border: 1px solid $cs_purple_light;
		//top: 1px;
		//left: 1px;

		&:before {
			/*
			display:block;
			position:relative;
			color:$cs_purple_main;
			font-family:'FontAwesome';
			content:"\f00c";
			

			width: calc(100% + 2px);
			height: calc(100% + 2px);

			font-size: 16px;
			line-height: calc( 100% + 4px);
			padding: 0;
			text-indent: 0;
			top: 2px;
			left: 3px;
			*/
		}
	}
	/*
	&:focus {
		cursor:pointer;
		background-clip: border-box;
		border: 2px solid $cs_purple_main;
		
	}
	*/
}

.ovcdt-datalist {
	display:none;
}

// Frozen Column Styles
.frozen {
	background-color: inherit;
	z-index:999;

	&[data-filter-field], {

		&:before {
		    content: "";
		    display: block;
		    position: absolute;
		    width: calc(100% + 4px);
		    height: 10000px;
		    background: #888888;
		    border: none;
		    right: -3px;
		    top: -1px;
		    z-index:-1;
		}

		&:after {
			content:"";
			display:block;
			position:absolute;
			width:auto;
			height:auto;
			top:0;
			left:0;
			right:0;
			bottom:0;
			background:#FFFFFF;
		}
	}
}

/*
.freeze-pane {
	left:0;

	&.frozen {
		background-color: inherit;
		z-index:999;

		&[data-filter-field], {

			&:before {
			    content: "";
			    display: block;
			    position: absolute;
			    width: calc(100% + 4px);
			    height: 10000px;
			    background: #888888;
			    border: none;
			    right: -3px;
			    top: -1px;
			    z-index:-1;
			}

			&:after {
				content:"";
				display:block;
				position:absolute;
				width:auto;
				height:auto;
				top:0;
				left:0;
				right:0;
				bottom:0;
				background:#FFFFFF;
			}
		}
	}
}
*/

// OVCDT Status Styles

//#ovcdt-status,
.ovcdt-status-row {
	font-size:120%;
	text-align:left;
	margin-bottom:5px;

	> div {
		display:inline-block;
		vertical-align:middle;

		&.ovcdt-status-wrap {width:240px;}		
	}

	span {
		font-weight:bold;

		.ajax-loader-bg {
			display:inline-block;
			height:1em;
			width:1em;
		}
	}
}

// Notifications box styles moved to ovc-admin.scss

.ovcdt-table-wrap {
	background-color:#FFFFFF;

	&.loadingData,
	&.savingData {
		* {
			cursor:wait !important;
		}

		input, select, a, th, td {
			pointer-events:none;
		}
	}

	&.loadingData {
		tbody {
			opacity:0.2;
		}

		thead, .ovcdt-meta-row {
			opacity:0.4;
		}
	}
}

/*
#ox-row-ovcdt-table-wrap.loadingData,
#ox-row-ovcdt-table-wrap.savingData {
	* {
		cursor:wait !important;
	}

	input, select, a, th, td {
		pointer-events:none;
	}

	
}

#ox-row-ovcdt-table-wrap.loadingData {
	tbody {
		opacity:0.2;
	}

	thead, .ovcdt-meta-row {
		opacity:0.4;
	}
}
*/

// OVCDT Table Results Meta Row (Pagination) Styles

.ovcdt-meta-row {
	transition:all 0.3s ease;
}

.ovcdt-results-meta-row {
	@include d-b;
	padding:2px 5px;
	background-color:#DDEEFF;
	text-align:left;

	span {
		display:inline-block
	}
	.ovcdt-results-meta {
		width:350px;
	}

	.ovcdt-pagination {
		width:auto;
		margin-left:90px;

		input.ovcdt-page-select {
			width:45px;
		}
	}
}


.ovcdt-pagination-link {
	margin:0 3px;
}

.ovcdt-per-page-select-wrap {
	margin-left:90px;
}

// OVCDT Column-specific styles
.ovcdt-table-wrap[data-ovcdt-type] table.ovcdt-table {

	th[data-col="pr.size"] {min-width:80px;}

	// Special Booleans
	th[data-col="pr.sync_whs3"],
	th[data-col="pr.sync_whs5"],
	th[data-col="pr.sync_oms"],
	th[data-col="pr.sync_wc"],
	th[data-col="pr.sync_walmart"],
	th[data-col="pr.sync_shopify"],
	th[data-col="pr.sync_zulily"],
	th[data-col="pr.sync_groupon"],
	th[data-col="pr.sync_amazon"] {
		text-align: center;
		max-width:24px !important;
	}

	td[data-col="pr.sync_oms"] .otdi.otdi--bool:checked:before {
		content: "\f023";
	}
	td[data-col="pr.sync_whs3"] .otdi.otdi--bool:checked:before {
		font-family:inherit;
		font-size:95%;
		font-weight:bold;
		content: "W3";
	}
	td[data-col="pr.sync_whs5"] .otdi.otdi--bool:checked:before {
		font-family:inherit;
		font-size:95%;
		font-weight:bold;
		content: "W5";
	}
	td[data-col="pr.sync_wc"] .otdi.otdi--bool {

		&:checked:before {
			color: $vida_pink;
			content: "\f19a";
		}

		&.wc_variation_exists:not(:checked):before {
			// dev:make this and %include or @extend
			display:block;
			position:relative;
			
			font-family:'FontAwesome';
			
			line-height:25px;
			width: calc(100% + 2px);
			height: calc(100% + 2px);

			font-size: 16px;
			//line-height: calc( 100% + 4px);
			padding: 0;
			margin: -3px 0 0 -4px;
			text-indent: 0;
			top: 1px;
			left: 3px;

			color: #AAA;
			content: "\f19a";
		}
	}
	td[data-col="pr.sync_walmart"] .otdi.otdi--bool:checked:before {
		color: #FDBB30;
		content: "\f069";
	}
	td[data-col="pr.sync_shopify"] .otdi.otdi--bool:checked:before {
		color: #7ab55c;
		font-family:inherit;
		font-weight:bold;
		content: "Sh";
	}
	td[data-col="pr.sync_zulily"] .otdi.otdi--bool:checked:before {
		color: #55688b;
		font-family:inherit;
		font-weight:bold;
		content: "Zu";
	}
	td[data-col="pr.sync_groupon"] .otdi.otdi--bool:checked:before {
		color: #53a318;
		font-family:inherit;
		font-weight:bold;
		content: "Gr";
	}
	td[data-col="pr.sync_amazon"] .otdi.otdi--bool:checked:before {
		color: #ff9900;
		content: "\f270";
	}
	
	th[data-col="pa.care"],
	th[data-col="pa.care_old"] {
		min-width: 500px;
	}

	th[data-col="pr.sku"],
	th[data-col="pr.old_sku"],
	th[data-col="pr.case_sku"],
	th[data-col="pr.oms_sku_confirmed"] {min-width:170px;}

	th[data-col="pr.color"],
	th[data-col="pr.class"],
	th[data-col="pr.upc_code"],
	th[data-col="pr.asin"],
	th[data-col="pr.parent_asin"] {min-width:120px;}
	
	th[data-col="st.product_title"],	// Product Title [by Style#]
	th[data-col="pa.product_title"] { // Product Title [by Parent SKU]
		min-width:320px;
	}
	th[data-col="pa.brand"] {min-width:110px;} // Brand

	td[data-col="pr.ID"], th[data-col="pr.ID"] {
		font-weight:bold;
		min-width:50px;

		input {
			font-weight:bold;
		}
	}



	td[data-col="pr.ovc_status"] {
		font-weight:bold;
		min-width:110px;

		.otdi[value="Verified"] 	{background-color:rgba(111,168,220,0.7);}
		.otdi[value="Check Info"] 	{background-color:rgba(194,123,160,0.7);}
		.otdi[value="Check Prices"]	{background-color:rgba(147,196,125,0.7);}
		.otdi[value="Check All"] 	{background-color:rgba(246,178,107,0.7);}
		.otdi[value="Not Checked"] 	{background-color:rgba(255,242,204,0.7);}
		.otdi[value="In Progress"] 	{background-color:rgba(255,217,102,0.7);}
		.otdi[value="On Hold"] 		{background-color:rgba(183,183,183,0.7);}
		.otdi[value="Problem"] 		{background-color:rgba(255,0,0,0.7);color:#fff;}
		.otdi[value="Import Error"]	{background-color:rgba(232,5,216,0.7);color:#fff;}
		.otdi[value="Defective"]	{background-color:rgba(255,0,0,0.7);}
	}

	th[data-col="pic.crop_mode"] {
		min-width: 80px;
	}

	th[data-col="pic.status"],
	th[data-col="pic.crop_focus"] {
		min-width:130px;
	}

	td[data-col="pic.status"] {
		font-weight:bold;
		min-width:130px;

		.otdi[value="Needs Review"] 	{background-color:rgba(255,242,204,0.7);}
		.otdi[value="Needs Override"] 	{background-color:rgba(246,178,107,0.7);}
		.otdi[value="Approved"]			{background-color:rgba(111,168,220,0.7);}
	}
}

// OVCDT Type-specific styles

.ovcdt-table-wrap[data-ovcdt-type="ovc_products"] {

	th:nth-of-type(n+4) {
		min-width:60px;
	}
}

.ovcdt-table-wrap[data-ovcdt-type="style_data"] {

	th[data-col="st.care"] {
		min-width:500px;
	}
}

.ovcdt-table-wrap[data-ovcdt-type="ovc_image_mgr_products"] .ovcdt-tight-wrap {
	max-height:400px;
	overflow:auto;
}

.ovcdt-table-wrap[data-ovcdt-type="ovc_schema"] table.ovcdt-table {
	
	th[data-col="fm.ID"] {
		width:50px;
	}

	th[data-col="fm.field_set"],
	th[data-col="fm.field"],
	th[data-col="fm.meta_key"] {
		min-width:150px;
	}

	th[data-col="fm.meta_value"] {
		min-width:1000px;
	}
}

.ovcdt-table-wrap[data-ovcdt-type="operation_log"] table.ovcdt-table {

	td {
		border:none;
		font-size:120%;
		padding:3px 10px;
	}
	

	tr:nth-child(2n) {
		background-color:#eee;
	}
}

.ovcdt-table-wrap[data-ovcdt-type="api_feeds"] table.ovcdt-table {

	th[data-col="feed.feed_type"] {min-width:260px;}
	th[data-col="feed.remote_feed_id"] {min-width:360px;}
}

.ovcdt-table-wrap[data-ovcdt-type="walmart_product"] table.ovcdt-table {

	th[data-col="wa.ID"] {
		min-width:60px !important;
	}

	th[data-col="wa.sku"],
	th[data-col="wa.upc"],
	th[data-col="wa.walmart_id"] {
		min-width:170px !important;
	}

	th[data-col="wa.productName"] {
		min-width:360px;
	}
	th[data-col="wa.status_change_reason"] {
		max-width:300px;min-width:auto !important;
	}
	
}

// .ovcdt-table-wrap[data-ovcdt-type="ovc_images"] table.ovcdt-table {

// 	th[data-col="pic.status"],
// 	td[data-col="pic.status"] {
// 		min-width:100px;
// 	}
// }



// Not Yet Organized Styles from pre-OVC versions

/* ovcdt ADMIN STYLE */


.ajax-loader-bg {
	background-image:url(../img/ajax-loader.gif);
	background-repeat:no-repeat;
	background-position:center center;
	background-size:contain;
}

.force-transition-3s {@include transition(all 3s ease !important);}
.force-transition-9s {@include transition(all 9s ease !important);}

@keyframes saving-cell {
	0% {outline-color:#D7B221;}
	50% {outline-color:#CB932C;}
	100% {outline-color:#D7B221;}
}

@-webkit-keyframes saving-cell {
	0% {outline-color:#D7B221;}
	50% {outline-color:#CB932C;}
	100% {outline-color:#D7B221;}
}

@keyframes invalid-cell {
	0% {outline-color:#FF0000;}
	100% {outline-color:#FF9933;}
}

@-webkit-keyframes invalid-cell {
	0% {outline-color:#FF0000;}
	100% {outline-color:#FF9933;}
}







