$ovc-screen-header-height:60px;

$ovc-header-grey:#DFDFDF;
$ovc-screen-header-grey:#EEEEEE;

#ovc-screen-wrap {
	@include d-fb;
	position:fixed;
	@include backface-fix;

	@include flex-direction(column);
	@include align-items(stretch);
	@include justify-content(stretch);

	top: 92px;
	right:0;
	left:160px;
	bottom:0;
	
	height:auto;
	@include pbm-0;

	@media (max-width:960px) {
		left:36px;
	}

	opacity:0;
	z-index:-1000;

	@include transition(#{opacity 0.3s ease, z-index 0s ease 0.3s});

	&.show-screen {
		opacity:1;
		z-index:1800;
		@include transition(#{opacity 0.3s ease, z-index 0s ease 0s});
	}


/* 	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: 1000px;
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
	min-height: 100%; 

	padding:20px;

	z-index:150000;*/


	background-color:rgba(0,0,0,0.7);

	
	
}

#ovc-screen__close {
	@include d-b;
	position:absolute;
	right:0;
	top:0;
	color:#444444;
	font-size:24px;
	padding:0.5em;
	cursor:pointer;
	@include transition(all 0.3s ease);

	&:hover {
		color:#000000;
	}
}

#ovc-screen__tabs,
#ovc-screen__header,
#ovc-screen__content,
#ovc-screen__footer {
	@include d-fb;
	@include fill-width;
	padding:0 20px;
	min-height:$ovc-screen-header-height;
}

#ovc-screen__tabs {
	@include flex-wrap(nowrap);
	@include align-items(flex-end);
	background-color:$ovc-header-grey;
	min-height:40px;

	.ovc-screen-tab {
		background-color:#e2e2e2;
		@include d-ib;
		padding:0.5em;
		margin-left:0.25em;
		@include transition(all 0.3s ease);
		border-bottom:1px solid #E2E2E2;
		cursor:pointer;

		&:hover {background-color:#e6e6e6;}

		&.active-tab {
			background-color:$ovc-screen-header-grey;
			border-bottom:1px solid $ovc-screen-header-grey;
		}
	}
}

#ovc-screen__header,
#ovc-screen__footer {
	@include flex-wrap(nowrap);
	
	background-color:$ovc-screen-header-grey;
}

#ovc-screen__header {
	@include align-self(flex-start);
	@include flex-direction(column);
	@include align-items(flex-start);
	@include flex(0 0 auto);
	
	height:auto;
	padding-bottom:0.5em;
}

#ovc-screen__footer {
	@include align-self(flex-end);
	@include align-items(center);
	@include justify-content(flex-end);
	@include flex(0 0 $ovc-screen-header-height);
}

#ovc-screen__content {
	@include flex(1 1 auto);
	@include align-content(center);
	@include justify-content(center);
	padding:40px 20px;

	background-color:rgba($ovc-screen-header-grey,0.75);

	overflow:scroll;

	.ovc-screen-content-inner {
		@include d-b;
		width:100%;
		max-width:1200px;
	}

	.ovc-screen-content-inner--full-width {
		@include d-b;
		width:100%;

		&.no-wrap {
			white-space:nowrap;
		}
	}
	// > .ovcdt-table-wrap {
	// 	@include d-fb;
	// 	@include flex-direction(column);
	// }
}





// migrated from oxmd
.ovc-screen-field-wrap {
	display:block;
	position:relative;
	width:100%;

	&:not(:last-child) {
		//margin-bottom:
	}

	p, label, input {
		&:not(.ovcdt-table *) {
			font-size:1.15em;	
		}
	}
}

.ovc-screen-field-wrap {
	display:table;

	label {
		display:table-cell;
		font-weight:600;
		width:120px;
		vertical-align: top;
		line-height: 28px;

		&.ovc-screen-label--wide {
			width:200px;
		}
	}

	input:not([type="radio"]):not([type="checkbox"]),
	textarea,
	ul.ovc-screen-sl-wrap {
		display:table-cell;
		width:100%;
		margin:1px;
		background:#FFFFFF;
		border-radius:5px;
	}
	input:disabled {
		background:#EEEEEE !important;
		color:#444444;
	}
	textarea {
		font-size:12px;
		resize:none;
		overflow-y:scroll;
	}
}
.ovc-screen-field-wrap ul.ovc-screen-sl-wrap {
	padding:5px;
	background:#F1F1F1;
	border:1px solid #C1C1C1;
	max-height:250px;
	overflow:scroll;

	label {
		@include d-b;
		width:100%;
	}

	ul.children {
		margin-left:2em;
	}
}
// field-specific // dev:generalize dev:improve
.ovc-screen-field[name^="st.material"][name$="name"] {
	width:200px !important;
}
.ovc-screen-field.ovc-material-percent {
	padding-right:20px;
	width:60px !important;

	&:after {
		content:'%';
	}
}
.ovc-screen-field.dropdown_product_cat {
	width: 100% !important;
}

.ovc-screen-col-half {
	@include d-b;
	position:relative;
	width:50%;
	float:left;
	padding-right:6px;

	&:nth-of-type(2n + 1) {
		padding-left:6px;
	}
}

.ovc-screen-col-600 {
	@include d-ib;
	position:relative;
	width:600px;
	float:none;
	padding-right:16px;
	vertical-align:top;

	&:nth-of-type(2n + 1) {
		padding-left:6px;
	}
}

.ovc-screen-centered {
	text-align: center;
}

.ovc-screen-subh {
	font-size: 1.5em;
    margin: 30px 0 10px;
    padding-bottom:5px;
}
h4.ovc-screen-subh {
	font-size:1.2em;
	margin:10px 0 2px;
}
select.ovc-screen-field {
	width:100%;
}

/* 
.ovc-screen-outer {
	@include d-b;
	@include backface-fix;
	position:fixed;
	

	
}

.ovc-screen-wrap {
	@include d-fb;
	
	@include flex-direction(column);
	@include align-items(stretch);
	@include justify-content(stretch);
	//@include align-content(stretch);
	@include pbm-0;
	height:100%;
	// position:fixed;
	// right:0;
	// top:32px;
	// bottom:0;
	// left:180px;

	.ovc-screen--header,
	.ovc-screen--content,
	.ovc-screen--footer {
		@include d-fb;
		@include fill-width;
		padding:0 20px;
		min-height:$ovc-screen-header-height;
	}

	.ovc-screen--header,
	.ovc-screen--footer {
		@include flex-wrap(nowrap);
		@include align-items(center);
	}

	.ovc-screen--header {
		@include align-self(flex-start);
		@include flex(0 0 $ovc-screen-header-height);
		
	}

	.ovc-screen--footer {
		@include align-self(flex-end);
		@include flex(0 0 $ovc-screen-header-height);
		background:red;
	}

	.ovc-screen--content {
		@include flex(1 1 auto);
		
		> .ovcdt-table-wrap {
			@include d-fb;
			@include flex-direction(column);
		}
	}
} */

