
/**
 * CSS Styles for OVCIE Admin page
 */

 #ovcie-wrapper {
 	display:block;
 	width:100%;
 	padding-right:20px;
 }

 #ovcie-wrapper, 
 #ovcie-wrapper div {
 	box-sizing:border-box;
 	-webkit-box-sizing:border-box;
 	-ms-box-sizing:border-box;
 }
 .ox-row,
 .ox-row-child {
 	display:block;
 	width:100%;
 }
 .ox-row{
 	margin-bottom:20px;
 }
 .ox-row-child {
 	padding:10px 0px;
 }

 .ox-row.closed {
 	height:0px !important;
 }

 .ox-hidden {
 	display:none !important;
 }


 #operation-options {
 	display:block;
 	width:100%;
 	border:solid #444444;
 	border-width:1px 0px;
 	transition:all 0.4s;
 }



 #ovcie-ajax-log {
 	display:block;
 	white-space: pre;
 	border:1px solid #999;
 	background:#f5f5f5;
 	color:#000;
 	font-size:90%;
 	line-height: normal;
 	min-height:600px;
 	cursor:text;
 	font-family: "Courier New", Courier, monospace;
 	transition:all 0.4s;
 }

 

 .paused {
 	@include prefix(animation-play-state,paused);
 }


// Response Notifications Box
.ovc-notice-box {
	width:430px;
	height:30px;
	background-color:#FFF;
	position:relative;
	bottom:-4px;
	overflow:visible;
	z-index:1000;


	i.expand-toggle {
		display:block;
		position:absolute;
		width:30px;
		height:30px;
		right:0;
		top:0;
		color: #FFF;
		line-height: 30px;
		text-align: center;
		background-color:#cdcdcd;
		transition:all 0.3s ease;

		&:hover {
			background-color:#ababab;
			cursor:pointer;
		}
	}

	&.expanded {
		div.notifications-list {
			height:300px;
			overflow:auto;
			box-shadow:-3px 4px 5px 0px rgba(0,0,0,0.5);
		}
	}
}

.notifications-list {
	@include d-b;
	position:absolute;
	width:400px;
	height:30px;
	transition:all 0.3s ease;
	border:1px solid #cdcdcd;
	background-color:#EAEAEA;
	overflow:hidden;

	.notification-wrap {
		@include d-b;
		position:relative;
		width:100%;
		max-height:28px;
		margin-bottom:1px;
		transition:inherit;
		overflow:hidden;
		background-color:#dfdfdf;
		line-height:28px;
		padding:0 0 0 20px;
		cursor:default;

		&.submsgs {
			&:before {
				font-family:'FontAwesome';
				content:"\f067";
				color:#999;
				display:block;
				position:absolute;
				font-size:14px;
				top:0;
				left:0;
				height:28px;
				width:20px;
				text-align:center;
				line-height:28px;
				@include prefix(transition,all 0.3s ease);
			}

			&:hover::before {
				color:#222;
			}

			&.expanded {
				max-height:15000px;

				&:before {
					content:"\f068";
					color:#222;
				}
			}
		}

		

		&.hidden-notice {height:0;margin-bottom:0;}

		

		.notification-row {
			@include d-b;
			width:100%;
			font-size:12px;
			line-height:12px;
			background-color:#fff;
			padding:2px 3px 4px 6px;

			&:first-child {
				font-size:16px;
				line-height:28px;
				height:28px;
				padding:0 3px;
			}

			&.notice-error {background-color:#F2C3C3;}
		}
	}
}



