/* Styles for OXMD by Ray Sarno of ONYX Design */

#oxmd-wrap-outer {
	@include d-b;
	position:fixed;
	@include backface-fix;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: 1000px;
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
	min-height: 100%;

	padding:20px;

	z-index:150000;

	visibility:hidden;
	opacity:0;
	background-color:rgba(0,0,0,0.7);

	overflow:scroll;
	
	-webkit-transition: visibility 0.0s linear 0.3s, opacity 0.3s ease;
	transition: visibility 0.0s linear 0.3s, opacity 0.3s ease;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

/*
#oxmd-wrap-inner {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
*/

#oxmd-modal {
	display:block;
	position:relative;

	text-align:left;

	width:500px;
	height:auto;
	min-height:100px;
	background-color:#ddd;

	margin:0 auto;

	padding:15px;

	box-shadow: 0px 0px 30px 3px rgba(0,0,0,0.5);

	&.extra-wide {
		width:700px;
	}

	&.super-wide {
		min-width:1200px;
		width:auto;
		max-width:1400px;
	}

	top:50%;
	@include prefix(transform,translateY(-50%));

	&.top-align {
		top:0;
		@include prefix(transform,translateY(0));
	}
}

.oxmd-col-half {
	@include d-b;
	position:relative;
	width:50%;
	float:left;
	padding-right:6px;

	&:nth-of-type(2n + 1) {
		padding-left:6px;
		padding-right:0px;
	}
}

.oxmd-modal-elem,
.oxmd-field-wrap {
	display:block;
	position:relative;
	width:100%;

	&:not(:last-child) {
		//margin-bottom:
	}

	p, label, input {
		&:not(.ovcdt-table *) {
			font-size:1.15em;	
		}
	}
}

.oxmd-field-wrap {
	display:table;

	label {
		display:table-cell;
		font-weight:600;
		width:120px;
		vertical-align: top;
		line-height: 28px;

		&.oxmd-label--wide {
			width:200px;
		}
	}

	input:not([type="radio"]):not([type="checkbox"]),
	textarea,
	ul.oxmd-sl-wrap {
		display:table-cell;
		width:100%;
		margin:1px;
		background:#FFFFFF;
	}
	input:disabled {
		background:#EEEEEE !important;
		color:#444444;
	}
	textarea {
		font-size:12px;
		resize:none;
		overflow-y:scroll;
	}
}
.oxmd-field-wrap ul.oxmd-sl-wrap {
	padding:5px;
	background:#F1F1F1;
	border:1px solid #C1C1C1;
	max-height:250px;
	overflow:scroll;

	label {
		@include d-b;
		width:100%;
	}

	ul.children {
		margin-left:2em;
	}
}

.oxmd-modal-h {
	font-size: 2em;
	margin: 0.5em 0;
	line-height: 1em;
}
.oxmd-modal-subh {
	font-size: 1.5em;
    margin: 30px 0 10px;
    padding-bottom:5px;
    border-bottom: 1px solid;
}
h4.oxmd-modal-subh {
	font-size:1.2em;
	margin:10px 0 2px;
}
.oxmd-label-span {
	display:inline-block;
	min-width:35%;
	font-weight:bold;
}
.oxmd-response-buttons {
	text-align: right;
	margin-bottom:0;

	
}

.oxmd-response-button {
	display: inline-block;
	text-align: center;
	line-height: 1.5em;
	font-size: 1.5em;
	background: #777;
	padding: 0.25em 1em;
	color: #ddd;
	font-weight: bold;
	margin-left: 0.75em;
	margin-bottom:0;

	transition:all 0.3s ease;
	cursor:pointer;

	&:hover {
		background: darken( #888, 15% );
		color:#fff;
	}

	&.primary-response {
		background: $blue_main;

		&:hover {
			background: $blue_dark;
		}
	}
}

body.oxmd-locked {
	overflow:hidden !important;

	#oxmd-wrap-outer {
		visibility:visible;
		opacity:1.0;
		//background-color:rgba(0,0,0,0.70);

		transition-delay:0.0s;
	}
}


// Helper functions

.t-bold {
	font-weight:bold;
}
.t-bigger {
	font-size:120%;
}
.t-smaller {
	font-size:85% !important;
}

// field-specific // dev:generalize dev:improve
.oxmd-field[name^="st.material"][name$="name"] {
	width:200px !important;
}
.oxmd-field.ovc-material-percent {
	padding-right:20px;
	width:60px !important;

	&:after {
		content:'%';
	}
}
