/* ONYX Design Dropdown menu */

.oxmn-menubar {
	text-align:left;
	padding:0 !important;
	font-size:14px;
	background-color:#FFFFFF;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #6a6a6a;

	&:after {
		display:block;
		clear:both;
		content:'';
		visibility: hidden;
	}
}

.oxmn-container {
	@include d-ib;
	position:relative;
	cursor:default;
	overflow:hidden;
	color:#6a6a6a;
	font-weight:bold;
	margin-right:0.75em;
	float:left;
	line-height:160%;
	

	.oxmn-submenu {
		@include d-ib;
		position:absolute;
		top:100%;
		overflow:hidden;
		width:auto;
		min-width:150px;
		max-width:400px;
		background:#FFFFFF;
		border:1px solid #CCCCCC;
		z-index:1000;
		line-height:inherit;

		&.oxmn-fixed {
			position:fixed;
			z-index:1800;
		}
	}

	&.oxmn-has-submenu:after {
		content:"\25BC";
		position:absolute;
		bottom:0;
		right:0.5em;
		font-size:0.8em;
		line-height:inherit;
		color:inherit;
	}

	.oxmn-li {
		@include d-b;
		position:relative;
		width:100%;
		padding:0 2em 0 1.5em;
		margin:1px 0;
		white-space: nowrap;
		line-height:inherit;

		&.oxmn-section-break {
			border-bottom:1px solid #DDDDDD;
		}
		

		label {
			@include d-b;
			@include fill-parent;
			position:relative;
			-webkit-user-select: none;
		}

		input {
			&:disabled,
			&:disabled ~ i,
			&:disabled ~ i:before,
			&:disabled ~ label {
				cursor:default !important;
				color:#AAAAAA !important;	
			}
		}

		input[type="submit"] {
			display:none;
		}



		&:not(.oxmn-li-toplevel):not(.oxmn-li-nointeract):hover {
			background:#efefef;
		}


		&.oxmn-li-nointeract {
			cursor:default;
		}

		&.oxmn-li-checkbox input[type="checkbox"] {
			display:block;
			position:absolute;
			visibility:hidden;
			left:0.5em;
			height:100%;
			line-height:inherit;
			margin:0;
			color:inherit;

			

			&:checked:before {
				content:"\2713";
				visibility: visible;
				font-size:1em;
				line-height:inherit;
				color:inherit;
			}

			&.enabler {

				~ label:before {
					content:'Enable ';
				}

				&:checked ~ label:before {
					content:'Disable ';
				}
				
			}


		}
	}

	&:hover {
		color:#444444;
		overflow:visible;

		&.oxmn-has-submenu:after {
			content:"\25BC";
		}

		.oxmn-submenu {
			box-shadow:3px 4px 5px 0px rgba(0,0,0,0.5);
		}
	}
}
