$ovc-page-header-height:60px;

.ovc-page-header-wrap {
	@include d-b;
	@include fill-width;

	.ovc-page-header__spacer {
		@include d-b;
		position:relative;
		@include pbm-0;
		height:$ovc-page-header-height;
		@include fill-width;
	}

	.ovc-page-header {
		@include d-fb;
		@include backface-fix;
		@include align-items(center);
		@include justify-content(space-between);
		position:fixed;
		right:0;
		top:32px;
		left:160px;
		bottom:auto;
		height:$ovc-page-header-height;
		background-color:#DFDFDF;
		padding:0 20px;
		z-index:2000;

		@media (max-width:960px) {
			left:36px;
		}
	}
}

.vida-ovc_page_ovc-new {

	/* #wpbody-content {
		@include d-fb;
		@include fill-height;
		@include pbm-0;
		float:none;


	} */

	#screen-meta,
	.js-wc-plugin-framework-admin-notice-placeholder,
	#wpfooter {
		display:none !important;
	}
}
 